.order__main {
  padding: 20px;

  .tabs__main {
    background-color: white;
    padding: 10px 30px 0px 30px;
    border-radius: 10px;
  }

  .ant-btn {
    padding: 4px 5px 0px 5px !important;
  }
}
