$icon-color: #6e8bb7;
$button-color: #0067f4;
$dark-blue: #001a49;
$error-title: #4094f7;
$error-link: #1890ff;
$sidebar-icon: #6e8bb7;
$marketing-sidebar-top: linear-gradient(90deg, #0974e9 0%, #3593f9 100.35%);
$marketing-status-bg: #4094f726;
$status-inactive: #f76659;
$status-inactive-bg: #fee8e6;
$dashboard-text: #5b6871;
$chart-info: #6e8bb7;
